/* Header */
.bg-color-unset {
    background-color: unset;
}

.logo {
    font-size: 40px;
    font-weight: 600;
}

.custom {
    padding: unset;
    height: fit-content;
}

/* Content */

.flex-between {
    display: flex;
    justify-content: space-between;
}

.flex-row {
    display: flex;
}

.mg-left {
    margin-left: 20px;
}

.mg-right {
    margin-right: 20px;
}

.mg-10 {
    margin: 10px;
}